{% if latest_badge_list %}
    <p>Here are the badges!</p>
    <ul>
    {% for reward in latest_badge_list %}
        <li><a href="/dashboard/badge/{{ reward.id }}/">{{ reward.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No badges :(</p>
{% endif %}
{% if latest_journal_list  %}
    <p>Here are the journal entries:</p>
    <ul>
    {% for journal in latest_journal_list %}
        <li><a href="/dashboard/journal/{{ journal.id }}/">{{ journal.pub_date }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Journal entries :(</p>
{% endif %}